<h1><%=  t('overskrifter.database_eksport') %></h1>

<p>
  <%= t('tekst.database_eksport') %>
</p>

<p>
  <% if @db_dumps.any?  %>
    <ul id="db_liste">
      <% @db_dumps.each do |path| %>
        <li><a href="<%= path %>"><%= File.basename(path) %></a></li>
      <% end %>
    </ul>
  <% else %>
    <div id="ingen_db_dump">
      <%= t('feilmelding.ingen_db_dump') %>
    </div>
  <% end %>
</p>
