<div id='sidetopp'>
  <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
</div>

<div id='resultater'>  
  <div id="kompetansemaal_treff">
    <h2><%= t('overskrifter.kompetansemål') %></h2>
    <%=  render :partial => "kompetansemaal/simple_grid" %>
  </div>
</div>

<% unless @through_laereplan %>
  <p>
    <h2><%= t("overskrifter.filtrer_på_læreplan") %></h2>
    <ul class="linke-liste">
      <% @kompetansemaalsett.laereplaner.each do |laereplan| %>
        <li><%= link_to "#{laereplan.kode}: #{laereplan.tittel}", laereplan_kompetansemaalsett_path(laereplan, @kompetansemaalsett) %></li>
      <% end %>
    </ul>
  </p>
<% end %>



<p/>

<%= render :partial => 'common/back_button' %>