<p>
  <span class="enhet-overskrift"><%=  t('overskrifter.hovedområde')%></span><br/>
  <h3 class="tittel"><%=h @kompetansemaalsett.tittel %></h3>
  <span class="benevning">Uuid:</span>
  <span class="uuid"><%=h @kompetansemaalsett.uuid %></span><br/>
</p>

<p>
  <h3>
    <%=  t("overskrifter.kompetansemål") %>
  </h3>

  <div id="kompetansemaal_liste" >
    <%= render :partial => "kompetansemaal/simple_grid" %>
    <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
  </div>
</p>
<%= render :partial => 'common/back_button' %>