<p>
  <%=  t('tekst.bla_i_laereplan') %>
</p>

<hr/>
<table>
  <thead>
    <tr>
      <th class="kode_col" id="sorter_paa_kode"><a href="<%= bla_i_laereplan_index_path :sort => :kode %>"><%= t("knapper.sorter_på_kode") %></a></th>
      <th id="sorter_paa_tittel"><a href="<%= bla_i_laereplan_index_path :sort => :tittel %>"><%= t("knapper.sorter_på_tittel") %></a></th>
    </tr>
  </thead>
  <tbody>
    <% @laereplaner.each do |l| %>
      <tr>
        <td><%= link_to l.kode, l %></td>
        <td class="liste_element_laereplan"><%= link_to l.tittel, l %></td>
      </tr>
    <%end%>
  </tbody>
</table>

