
<p>
  <span class="enhet-overskrift"><%=  t('overskrifter.hovedområde')%></span><br/>
  <h3 class="tittel"><%=h @hovedomraade.tittel %></h3>
  <span class="benevning">Uuid:</span>
  <span class="uuid"><%=h @hovedomraade.uuid %></span><br/>
  <span class="benevning">Kode:</span>
  <span class="kode"><%=h @hovedomraade.kode.empty? ? t('etiketter.tom') : @hovedomraade.kode  %></span>
</p>

<p>
  <h3>
    <%=  t("overskrifter.kompetansemål") %>
  </h3>

  <div id="kompetansemaal_liste" >
    <%= render :partial => "kompetansemaal/simple_grid" %>
    <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
  </div>
</p>
<p/>
<%= render :partial => 'common/back_button' %>