<div id='sidetopp'>
  <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
</div>

<div id='resultater'>
  <%= render :partial => 'kompetansemaal/kompetansemaal_treff' %>
  <p>
    <h2><%= t("overskrifter.kompetansemålsett") %></h2>
    <ul class="linke-liste">
      <% @kompetansemaalsett.each do |sett| %>
        <% if(@through_laereplan)
            link = laereplan_hovedomraade_kompetansemaalsett_path(@laereplan, @hovedomraade, sett)
          else
            link = hovedomraade_kompetansemaalsett_path(@hovedomraade, sett)
          end
        %>
        <li><%= link_to sett.tittel, link %></li>
      <% end %>
    </ul>
  </p>
  
    <% unless @through_laereplan %>
    <p>
      <h2><%= t("overskrifter.filtrer_på_læreplan") %></h2>
      <ul class="linke-liste">
        <% @hovedomraade.laereplaner.each do |laereplan| %>
          <li><%= link_to "#{laereplan.kode}: #{laereplan.tittel}", laereplan_hovedomraade_path(laereplan, @hovedomraade) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>


</div>

<p/>
<%= render :partial => 'common/back_button' %>