<div id='sidetopp'>
  <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
</div>

<div id='resultater'>
  <div id="kompetansemaal_treff">
    <h3><%= t('overskrifter.kompetansemål') %></h3>
    <%=  render :partial => "kompetansemaal/simple_grid" %>
  </div>

  <p>
    <h3><%= t("overskrifter.kompetansemålsett") %></h3>
    <ul class="linke-liste">
      <% @kompetansemaalsett.each do |sett| %>
        <% if(@through_laereplan)
          link = laereplan_hovedomraade_kompetansemaalsett_path(@laereplan, @hovedomraade, sett)
        else
          link = hovedomraade_kompetansemaalsett_path(@hovedomraade, sett)
        end
      %>


        <li><%= link_to sett.tittel, link %></li>
      <% end %>
    </ul>
  </p>

</div>

<p/>
<%= render :partial => 'common/back_button' %>