<script type="text/javascript">
  var kompetansemaalRader = <%= @rader.to_json %>

  Ext.onReady(function(){
    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
    
    // create the data store
    var store = new Ext.data.SimpleStore({
      fields: [
        {name: 'laereplan'},
        {name: 'hovedomraade'},
        {name: 'kompetansemaalsett'},
        {name: 'trinn'},
        {name: 'kompetansemaal_uuid'},
        {name: 'kompetansemaal_kode'},
        {name: 'kompetansemaal'}
      ]
    });
    store.loadData(kompetansemaalRader);

    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id: 'kompetansemaal_grid',
      store: store,
      columns: [
        {header: "Læreplan", sortable: false, dataIndex: 'laereplan'},
        {header: "Hovedomrade", sortable: false, dataIndex: 'hovedomraade'},
        {header: "Kompetansemålsett", sortable: false, dataIndex: 'kompetansemaalsett'},
        {header: "Trinn", sortable: false, dataIndex: 'trinn'},
        {header: "Kompetansemål-uuid", sortable: false, hidden: true, dataIndex: 'kompetansemaal_uuid'},
        {header: "Kompetansemålkode", sortable: false, dataIndex: 'kompetansemaal_kode'},
        {header: "Kompetansemål", sortable: false, dataIndex: 'kompetansemaal'}
        ],
        stripeRows: true,
        height: 500,
        title:'Kompetansemål'
      });

      grid.on({'click': function(){
                          importAndDisplaySelectedKompetansemaal()
                        }
      });

      grid.addButton( {
        text: '<%= t("buttons.vis_id") %>',
        id: 'id_for_valgte',
        handler : function(){
                    copySelectedUuids();
                  }
        });

      grid.addButton( {
        text: '<%= t("buttons.vis_kode_og_id") %>',
        id: 'kode_og_id_for_valgte',
        handler : function(){
                    copySelectedCodesAndUuids();
                  }
        });

      grid.render('kompetansemaal');
      grid.getSelectionModel().selectFirstRow();

    });
      
 </script>


<div id="antall_treff" style="display:none;" ><%= @kompetansemaal.length%></div>


<div id="kompetansemaal" style="height: 500px"> </div>


<% unless @rader.empty? %>
  <%= will_paginate @rader %>
<% end %>

  
  