<table id='kompetansemaal'>
  <thead>
    <tr>
      <th>Læreplan</th>
      <th>Hovedområde</th>
      <th>Kompetansemålsett</th>
      <th>Trinn</th>
      <th>Kompetansemålkode</th>
      <th>Kompetansemål</th>
    </tr>
  </thead>
  <tbody>
    <% @kompetansemaal.each do |kompetansemaal| %>

      <% kompetansemaal.kompetansemaalsett.each do |maalsett|%>
    
        <% unless maalsett.trinn.blank? %>

          <% maalsett.trinn.each do |trinn| %>
             <% maalsett.laereplaner.each do |laereplan| %>
              <tr>
                <td><%= laereplan.tittel %></td>
                <td> </td>
                <td><%= maalsett.tittel %></td>
                <td><%= trinn.tittel %></td>
                <td> </td>
                <td><%= kompetansemaal.tittel %></td>
              </tr>
            <% end %>
          <% end %>
          
        <% else %>
          
          <% maalsett.laereplaner.each do |laereplan| %>
            <tr>
              <td><%= laereplan.tittel %></td>
              <td> </td>
              <td><%= maalsett.tittel %></td>
              <td> </td>
              <td> </td>
              <td><%= kompetansemaal.tittel %></td>
            </tr>
          <% end %>
        <% end %>
        
      <% end %>
      
    <% end %>
  </tbody>
</table>