<script type="text/javascript">
  var valgte_kompetansemaal = []
  var valgte_kontroller = null;

  Ext.onReady(function(){
    valgte_grid = document.getElementById("valgte_kompetansemaal");
    valgte_kontroller = new ValgteKompetansemaal();
    valgte_grid.valgte_kompetansemaal = valgte_kontroller ;

    initButtons()
  });

  function initButtons(){
    document.getElementById("showIdCheckbox").checked = valgte_kontroller.showId;
    document.getElementById("showKodeCheckbox").checked = valgte_kontroller.showKode;
    document.getElementById("showPsiCheckbox").checked = valgte_kontroller.showPsi;
  };

  function addUuidsToForm(form){
    uuids = [];
    for(i in valgte_kontroller.data){
      if(valgte_kontroller.data[i] != null && valgte_kontroller.data[i] != undefined){
        uuids = uuids.concat(valgte_kontroller.data[i]['kompetansemaal_uuid'])
      }
    }

    form.uuids.value = uuids;
  };


</script>

<div id="valgte_kompetansemaal" style="display: none;">
  <h2><%= t('overskrifter.valgte_kompetansemål') %></h2>

  <% form_tag download_csv_sok_path, :method => :post do %>
    <div class="valgte_kompetansemaal_boks">
	  <ul class="sok_filtere">
        <li>
          <input id="showIdCheckbox" name="showId" type="checkbox" onChange="valgte_kontroller.toggleShowId(this.checked)"/>
          <label for="showIdCheckbox"><%= t('etiketter.vis_uuid') %></label>
        </li>

        <li>
          <input id="showKodeCheckbox" name="showKode" type="checkbox" onChange="valgte_kontroller.toggleShowKode(this.checked)"/>
          <label for="showKodeCheckbox"><%= t('etiketter.vis_kode') %></label>
        </li>

        <li>
          <input id="showPsiCheckbox" name="showPsi" type="checkbox" onChange="valgte_kontroller.toggleShowPsi(this.checked)"/>
          <label for="showPsiCheckbox"><%= t('etiketter.vis_psi') %></label>
        </li>
      </ul>
      <textarea id="valgte_tekst" rows="6" readonly=""> </textarea>
    <%= hidden_field_tag "uuids" %>
    <%= submit_tag t('knapper.eksport_csv'), :onclick => "addUuidsToForm(this.form)" %>
    </div>
  <% end %>
</div>
