<div id="kompetansemaal"></div>


<script type="text/javascript">
  var kompetansemaalRader = <%= @kompetansemaal_treff.to_json %>;

  Ext.onReady(function(){
    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

    // create the data store
    var store = new Ext.data.SimpleStore({
      fields: [
        {name: 'kompetansemaal_uuid'},
        {name: 'kompetansemaal_kode'},
        {name: 'kompetansemaal_tittel'},
        {name: 'kompetansemaal_detaljer'}
      ]
    });
    store.loadData(kompetansemaalRader);

    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id: 'kompetansemaal_grid',
      store: store,
      columns: [
        {header: "<%= t('etiketter.uuid')%>", hidden: true, dataIndex: 'kompetansemaal_uuid'},
        {header: "<%= t('etiketter.kode')%>", hidden: true, dataIndex: 'kompetansemaal_kode'},
        {header: "<%= t('etiketter.tittel')%>", hidden: true, dataIndex: 'kompetansemaal_tittel'},
        {header: "<%= t('etiketter.kompetansemål')%>", width: 780, sortable: false, resizable: false, menuDisabled: true, dataIndex: 'kompetansemaal_detaljer'}
      ],
      stripeRows: true,
      height: 300,
      width: 800,
      title:'Kompetansemål'
    });

    grid.on({'click': function(){
        importAndDisplaySelectedKompetansemaal()
      }
    });

    grid.render('kompetansemaal');

  });

</script>
