<p>
  <b>Uuid:</b>
  <%=h @fag.uuid %>
</p>

<p>
  <b>Kode:</b>
  <%=h @fag.kode %>
</p>

<p>
  <b>Tittel:</b>
  <%=h @fag.tittel %>
</p>


<%= link_to 'Edit', edit_fag_path(@fag) %> |
<%= link_to 'Back', fag_path %>
