<div id='sidetopp'>
  <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
</div>

<div id='resultater'>
  <div id="kompetansemaal_treff">
    <h3><%= t('overskrifter.kompetansemål') %></h3>
    <%=  render :partial => "kompetansemaal/simple_grid" %>
  </div>
  
  <p>
    <h3><%= t("overskrifter.kompetansemålsett") %></h3>
    <ul class="linke-liste">
      <% @fag.kompetansemaalsett.each do |sett| %>
        <li><%= link_to sett.tittel, fag_kompetansemaalsett_path(@fag, sett) %></li>
      <% end %>
    </ul>
  </p>
</div>

<p/>


<%= render :partial => 'common/back_button' %>
