<div id='sidetopp'>
  <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
</div>

<div id='resultater'>
  <%= render :partial => 'kompetansemaal/kompetansemaal_treff' %> 
  <p>
    <h2><%= t("overskrifter.kompetansemålsett") %></h2>
    <ul class="linke-liste">
      <% @fag.kompetansemaalsett.each do |sett| %>
        <li><%= link_to sett.tittel, fag_kompetansemaalsett_path(@fag, sett) %></li>
      <% end %>
    </ul>
  </p>
</div>

<p/>

<%= render :partial => 'common/back_button' %>
