
<h1 class="tittel"><%=h @laereplan.tittel %></h1>

<div id='sidetopp'>
  
  <div id='topp_venstre'>
    <span class="benevning"><%= t('etiketter.uuid') %>:</span>
    <span class="uuid"><%=h @laereplan.uuid %></span><br/>
    <span class="benevning"><%= t('etiketter.kode') %>:</span>
    <span class="kode"><%=h @laereplan.kode %></span>
  </div>
  
  <div id="valgte_kompetansemaal">	
    <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
  </div>
  
</div>

<hr/>

<div id='resultater'>
  <div id="kompetansemaal_treff">
    <h3><%= t('overskrifter.kompetansemål') %></h3>
    <%=  render :partial => "kompetansemaal/simple_grid" %>
  </div>
  
  <p>
    <h3><%= t("overskrifter.hovedområder") %></h3>
    <ul class="linke-liste">
      <% @laereplan.hovedomraader.each do |hovedomraade| %>
        <li><%= link_to hovedomraade.tittel, laereplan_hovedomraade_path(@laereplan, hovedomraade) %></li>
      <% end %>
    </ul>
  </p>
  
  <p>
    <h3><%= t("overskrifter.kompetansemålsett") %></h3>
    <ul class="linke-liste">
      <% @laereplan.kompetansemaalsett.each do |sett| %>
        <li><%= link_to sett.tittel, laereplan_kompetansemaalsett_path(@laereplan, sett) %></li>
      <% end %>
    </ul>
  </p>
  
</div>



<%= render :partial => 'common/back_button' %>
