<p>
  <span class="enhet-overskrift"><%=  t('overskrifter.hovedomr책de')%></span><br/>
  <h3 class="tittel"><%=h @laereplan.tittel %></h3>
  <span class="benevning">Uuid:</span>
  <span class="uuid"><%=h @laereplan.uuid %></span><br/>
  <span class="benevning">Kode:</span>
  <span class="kode"><%=h @laereplan.kode %></span>
</p>

<p/> 

<div id="kompetansemaal_treff">
  <h3><%= t('overskrifter.kompetansem책l') %></h3>
  <%=  render :partial => "kompetansemaal/simple_grid" %>
</div>

<div id="valgte_kompetansemaal">	
  <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
</div>


<p>
  <h3><%= t("overskrifter.hovedomr책der") %></h3>
  <ul class="linke-liste">
    <% @laereplan.hovedomraader.each do |hovedomraade| %>
      <li><%= link_to hovedomraade.tittel, hovedomraade_path(hovedomraade) %></li>
    <% end %>
  </ul>
</p>

<p>
  <h3><%= t("overskrifter.kompetansem책lsett") %></h3>
  <ul class="linke-liste">
    <% @laereplan.kompetansemaalsett.each do |sett| %>
      <li><%= link_to sett.tittel, kompetansemaalsett_path(sett) %></li>
    <% end %>
  </ul>
</p>



<%= render :partial => 'common/back_button' %>
