
<table>
  <% form_tag(laereplansok_index_path, :method => "get") do %>
    <tr>

      <td> <%= label_tag :laereplan_kode, "Læreplankode" %> </td>
      <td> <%= text_field :laereplansok, :laereplan_kode %> </td>
    </tr>
    <tr>
      <td> <%= label_tag :laereplan_tittel, "Læreplantittel" %> </td>
      <td> <%= text_field :laereplansok, :laereplan_tittel %> </td>
    </tr>
    <tr>
      <td> <%= label_tag :hovedomraade, "Hovedområde" %></td>
      <td> <%= select( :laereplansok, :hovedomraade, @hovedomraader, { :include_blank => true }) %> </td>
    </tr>
    <tr>
      <td> <%= label_tag :kompetansemaalsett, "Kompetansemållsett" %></td>
      <td> <%= select( :laereplansok, :kompetansemaalsett, @kompetansemaalsett, { :include_blank => true }) %> </td>
    </tr>
    <tr>
      <td> <%= label_tag :trinn, "Trinn" %></td>
      <td> <%= select( :laereplansok, :trinn, @trinn, { :include_blank => true }) %> </td>
    </tr>
    <tr>
      <td> <%= label_tag :kompetansemaal_tittel, "Kompetansemåltittel" %> </td>
      <td> <%= text_field :laereplansok, :kompetansemaal_tittel %> </td>
    </tr>
    <tr>
      <td> <%= submit_tag "Søk", :name => nil %> </td>
    </tr>
  <%  end %>

</table>
<br />

<% unless @kompetansemaal.blank? %>
  <%= render :partial => 'kompetansemaal/ext_list' %>
<% end %>





