<h1><%= t('overskrifter.ofte_stillte_spørsmål') %></h1>
<dl>
	<dt><%= t('faq.spørsmål.en')%></dt>
	<dd><p><%= t('faq.svar.en')%></p></dd>
	<dt><%= t('faq.spørsmål.to')%></dt>
	<dd><p><%= t('faq.svar.to')%></p></dd>
	<dt><%= t('faq.spørsmål.tre')%></dt>
	<dd><p><%= t('faq.svar.tre')%></p></dd>
	<dt><%= t('faq.spørsmål.fire')%></dt>
	<dd><p><%= t('faq.svar.fire')%></p></dd>
	<dt><%= t('faq.spørsmål.fem')%></dt>
	<dd><p><%= t('faq.svar.fem')%></p></dd>
	<dt><%= t('faq.spørsmål.seks')%></dt>
	<dd><p><%= t('faq.svar.seks')%></p></dd>
	<dt><%= t('faq.spørsmål.syv')%></dt>
	<dd><p><%= t('faq.svar.syv')%></p></dd>
	<dt><%= t('faq.spørsmål.åtte')%></dt>
	<dd><p><%= t('faq.svar.åtte')%></p></dd>
	<dt><%= t('faq.spørsmål.ni')%></dt>
	<dd><p><%= t('faq.svar.ni')%></p></dd>
</dl>