<h1><%= t('overskrifter.statistikk') %></h1>

<div><%= t('etiketter.sok_denne_uke') %>: <%= @statistikk[:denne_uke] %> </div>
<div><%= t('etiketter.sok_forrige_uke') %>: <%= @statistikk[:forrige_uke] %> </div>
<div><%= t('etiketter.sok_denne_måned') %>: <%= @statistikk[:denne_maaned] %> </div>
<div><%= t('etiketter.sok_forrige_måned') %>: <%= @statistikk[:forrige_maaned] %> </div>